verifier/3mf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.microsoft.com/3dmanufacturing/core/2015/02" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:m="http://schemas.microsoft.com/3dmanufacturing/material/2015/02" targetNamespace="http://schemas.microsoft.com/3dmanufacturing/core/2015/02" elementFormDefault="unqualified" attributeFormDefault="unqualified" blockDefault="#all">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:annotation>
		<xs:documentation><![CDATA[
		Schema notes:

		Items within this schema follow a simple naming convention of appending a prefix indicating the type of element for references:

		Unprefixed: Element names
		CT_: Complex types
		ST_: Simple types
		
		]]></xs:documentation>
	</xs:annotation>
	<!-- Complex Types -->
	<xs:complexType name="CT_Model">		
		<xs:sequence>
			<xs:element ref="metadata" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="resources"/>
			<xs:element ref="build" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="unit" type="ST_Unit" default="millimeter"/>
		<xs:attribute ref="xml:lang"/>
	</xs:complexType>
	<xs:complexType name="CT_Resources">
		<xs:choice>
			<xs:element ref="protectedresources"/>
			<xs:sequence>
				<xs:element ref="texture2d" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="texture3d" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="materials" minOccurs="0"/>
				<xs:element ref="object" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="protectiontype" type="xs:QName"/>
	</xs:complexType>
	<xs:complexType name="CT_ProtectedResources" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Build">
		<xs:sequence>
			<xs:element ref="item" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Materials">
		<xs:sequence>
			<xs:element ref="basematerials" minOccurs="0"/>
			<xs:element ref="colormaterials" minOccurs="0"/>
			<xs:element ref="texture2dmaterials" minOccurs="0"/>
			<xs:element ref="compositematerials" minOccurs="0"/>
			<xs:element ref="texture3dmaterials" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Object">
		<xs:choice>
			<xs:element ref="mesh"/>
			<xs:element ref="components"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="type" type="ST_ObjectType" default="model"/>
		<xs:attribute name="materialtype" type="ST_MaterialType"/>
		<xs:attribute name="materialid" type="xs:nonNegativeInteger"/>
	</xs:complexType>
	<xs:complexType name="CT_Mesh">
		<xs:sequence>
			<xs:element ref="vertices"/>
			<xs:element ref="triangles"/>
			<xs:element ref="tetrahedra" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Vertices">
		<xs:sequence>
			<xs:element ref="vertex" minOccurs="4" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Vertex">
		<xs:attribute name="x" type="ST_Double" use="required"/>
		<xs:attribute name="y" type="ST_Double" use="required"/>
		<xs:attribute name="z" type="ST_Double" use="required"/>
	</xs:complexType>
	<xs:complexType name="CT_Triangles">
		<xs:sequence>
			<xs:element ref="triangle" minOccurs="4" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Triangle">
		<xs:attribute name="v1" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="v2" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="v3" type="xs:nonNegativeInteger" use="required"/>		
		<xs:attribute name="m1" type="xs:nonNegativeInteger"/>
		<xs:attribute name="m2" type="xs:nonNegativeInteger"/>
		<xs:attribute name="m3" type="xs:nonNegativeInteger"/>
		<xs:attribute name="materialtype" type="ST_MaterialType"/>
	</xs:complexType>
	
	<xs:complexType name="CT_Components">
		<xs:sequence>
			<xs:element ref="component" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Component">
		<xs:attribute name="objectid" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="transform" type="ST_Matrix3D"/>		
	</xs:complexType>
	<xs:complexType name="CT_Metadata" mixed="true">
		<xs:sequence>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:QName" use="required"/>
	</xs:complexType>
	<xs:complexType name="CT_Item">
		<xs:attribute name="objectid" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="transform" type="ST_Matrix3D"/>	
	</xs:complexType>
	
	<xs:complexType name="CT_Texture2D">
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="path" type="ST_UriReference" use="required"/>
		<xs:attribute name="contenttype" type="ST_ContentType" use="required"/>
		<xs:attribute name="transform" type="ST_Matrix2D"/>
		<xs:attribute name="tilestyleu" type="ST_TileStyle" default="repeat"/>
		<xs:attribute name="tilestylev" type="ST_TileStyle" default="repeat"/>
	</xs:complexType>
	<xs:complexType name="CT_BaseMaterials">
		<xs:sequence>
			<xs:element ref="basematerial" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Texture2DMaterials">
		<xs:sequence>
			<xs:element ref="texture2dmaterial" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_ColorMaterials">
		<xs:sequence>
			<xs:element ref="colormaterial" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_CompositeMaterials">
		<xs:sequence>
			<xs:element ref="compositematerial" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_BaseMaterial">
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="color" type="ST_ColorValue"/>
	</xs:complexType>
	<xs:complexType name="CT_ColorMaterial">
		<xs:attribute name="color" type="ST_ColorValue"/>
	</xs:complexType>
	<xs:complexType name="CT_Texture2DMaterial">
		<xs:attribute name="textureid" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="u" type="ST_Double" use="required"/>
		<xs:attribute name="v" type="ST_Double" use="required"/>
	</xs:complexType>
	<xs:complexType name="CT_CompositeMaterial">
		<xs:sequence>
			<xs:element ref="composite" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="materialtype" type="ST_MaterialType"/>
	</xs:complexType>
	<xs:complexType name="CT_Composite">
		<xs:attribute name="materialid" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="value" type="ST_ZeroToOne" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="CT_Tetrahedra">
		<xs:sequence>
			<xs:element ref="tetrahedra" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Tetrahedron">
		<xs:attribute name="v1" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="v2" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="v3" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="v4" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="m1" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="m2" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="m3" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="m4" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="materialtype" type="ST_MaterialType"/>
	</xs:complexType>
	<xs:complexType name="CT_Texture3D">
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="path" type="ST_UriReference" use="required"/>
		<xs:attribute name="contenttype" type="ST_ContentType3D" use="required"/>
		<xs:attribute name="transform" type="ST_Matrix3D"/>
		<xs:attribute name="tilestyleu" type="ST_TileStyle" default="repeat"/>
		<xs:attribute name="tilestylev" type="ST_TileStyle" default="repeat"/>
		<xs:attribute name="tilestylew" type="ST_TileStyle" default="repeat"/>
	</xs:complexType>
	<xs:complexType name="CT_Texture3DMaterials">
		<xs:sequence>
			<xs:element ref="texture3dmaterial" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CT_Texture3DMaterial">
		<xs:attribute name="textureid" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="u" type="ST_Double" use="required"/>
		<xs:attribute name="v" type="ST_Double" use="required"/>
		<xs:attribute name="w" type="ST_Double" use="required"/>
	</xs:complexType>
	<!-- Simple Types -->
	<xs:simpleType name="ST_Unit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="micron"/>
			<xs:enumeration value="millimeter"/>
			<xs:enumeration value="centimeter"/>
			<xs:enumeration value="inch"/>
			<xs:enumeration value="foot"/>
			<xs:enumeration value="meter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Matrix3D">
		<xs:restriction base="xs:string">
			<xs:pattern value="((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Double">
		<xs:restriction base="xs:double">
			<xs:whiteSpace value="collapse"/>
			<xs:pattern value="((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ObjectType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="model"/>
			<xs:enumeration value="support"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ST_ContentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="image/jpeg"/>
			<xs:enumeration value="image/png"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TileStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none"/>
			<xs:enumeration value="repeat"/>
			<xs:enumeration value="reflect"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MaterialType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="base"/>
			<xs:enumeration value="color"/>
			<xs:enumeration value="texture2d"/>
			<xs:enumeration value="composite"/>
			<xs:enumeration value="texture3d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ColorValue">
		<xs:restriction base="xs:string">
			<xs:pattern value="#[0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f]([0-9|A-F|a-f][0-9|A-F|a-f])?|scRGB\(((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)( ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?))?\)|CMYK\(((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)\)|CMYKW\(((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)\)|tex\([0-9]+\)|CMYKWA\(((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)\)|tex\([0-9]+\) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)\)|tex\([0-9]+\)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ColorValueSimple">
		<xs:restriction base="xs:string">
			<xs:pattern value="#[0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f][0-9|A-F|a-f]([0-9|A-F|a-f][0-9|A-F|a-f])?|scRGB\(((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)( ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?))?\)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_UriReference">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Matrix2D">
		<xs:restriction base="xs:string">
			<xs:pattern value="((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?) ((\-|\+)?(([0-9]+(\.[0-9]+)?)|(\.[0-9]+))((e|E)(\-|\+)?[0-9]+)?)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZeroToOne">
		<xs:restriction base="ST_Double">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ST_ContentType3D">
		<xs:restriction base="xs:string">
			<xs:enumeration value="image/tbmp"/>
			<xs:enumeration value="object"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Elements -->
	<xs:element name="model" type="CT_Model"/>
	<xs:element name="resources" type="CT_Resources"/>
	<xs:element name="build" type="CT_Build"/>
	<xs:element name="protectedresources" type="CT_ProtectedResources"/>
	<xs:element name="materials" type="CT_Materials"/>
	<xs:element name="object" type="CT_Object"/>
	<xs:element name="mesh" type="CT_Mesh"/>
	<xs:element name="vertices" type="CT_Vertices"/>
	<xs:element name="vertex" type="CT_Vertex"/>
	<xs:element name="triangles" type="CT_Triangles"/>
	<xs:element name="triangle" type="CT_Triangle"/>
	<xs:element name="components" type="CT_Components"/>
	<xs:element name="component" type="CT_Component"/>
	<xs:element name="metadata" type="CT_Metadata"/>
	<xs:element name="item" type="CT_Item"/>
	
	<xs:element name="texture2d" type="CT_Texture2D"/>	
	<xs:element name="basematerials" type="CT_BaseMaterials"/>
	<xs:element name="colormaterials" type="CT_ColorMaterials"/>
	<xs:element name="texture2dmaterials" type="CT_Texture2DMaterials"/>
	<xs:element name="compositematerials" type="CT_CompositeMaterials"/>	
	<xs:element name="basematerial" type="CT_BaseMaterial"/>
	<xs:element name="colormaterial" type="CT_ColorMaterial"/>
	<xs:element name="texture2dmaterial" type="CT_Texture2DMaterial"/>
	<xs:element name="compositematerial" type="CT_CompositeMaterial"/>
	<xs:element name="composite" type="CT_Composite"/>
	
	<xs:element name="tetrahedra" type="CT_Tetrahedra"/>
	<xs:element name="tetrahedron" type="CT_Tetrahedron"/>
	<xs:element name="texture3d" type="CT_Texture3D"/>	
	<xs:element name="texture3dmaterials" type="CT_Texture3DMaterials"/>
	<xs:element name="texture3dmaterial" type="CT_Texture3DMaterial"/>
</xs:schema>
